<div class="relative min-h-screen bg-black">
    <!-- Full-page matrix rain, fixed behind all content -->
    <div class="fixed inset-0 z-0">
        <app-matrix-rain class="absolute inset-0"></app-matrix-rain>
        <div class="absolute inset-0 bg-black/25 pointer-events-none"></div>
    </div>

    <div class="relative z-10">
        <app-nav></app-nav>
        <div id="hero">
            <app-header></app-header>
        </div>
        <app-content></app-content>
        <app-footer></app-footer>
    </div>
</div>
