<div class="hero min-h-screen">
  <app-matrix-rain [ngStyle]="{ 'filter': 'blur(0.4px)' }"></app-matrix-rain>
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold">Zahrane Rabhi</h1>
      <p class="mb-5 text-lg">Front-End Web Developer | Data Analyst</p>
      <!-- <app-modal-component></app-modal-component> -->
      <a class="btn btn-success btn-wide text-lg" href="{{ linkedinUrl }}">Hire Me</a>
    </div>
  </div>
</div>

