<div class="hero min-h-screen">
  <app-matrix-rain [ngStyle]="{ 'filter': 'blur(0.4px)' }"></app-matrix-rain>
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="text-center px-8 py-12 max-w-4xl bg-white bg-opacity-10 backdrop-blur-lg rounded-lg shadow-lg">
    <h1 class="text-5xl font-extrabold text-white mb-6">
      Welcome to <br> <span class="text-green-600">Zahrane Rabhi's</span> Portfolio
    </h1>
    <p class="text-xl text-gray-200 mb-8">
      Hi! I'm <span class="text-green-600 glow-effect">Zahrane Rabhi</span>, a passionate <span class="text-green-600 glow-effect">Software Engineer</span> and <span class="text-green-600 glow-effect">Data Scientist</span> who loves creating beautiful and functional web experiences and efficient Data solutions. Let’s build something great together!
    </p>
    
    <a (click)="redirectToLinkedin()" class="inline-block px-8 py-3 text-lg font-extrabold text-white bg-gradient-to-r from-green-700 to-black rounded-lg shadow-md transform hover:scale-105 hover:from-green-500 hover:to-green-900 transition-all duration-100 hover:text-green-300">
      <span class="glow-effect">Explore My Matrix</span>
    </a>
  </div>
</div>
